/* header styling */
.about-page-header {
    background-image: url(../images/about-page-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

/* page title styling */
.about-page-header>h1 {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50vh;
}

/* counter section styling */
.counter-section {
    background-color: #292930;
    padding-block: 50px;
}

.counters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.counter {
    display: flex;
    gap: 10px;
}

.counter>h5 {
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.counter-description p {
    padding: 0;
    font-weight: 400;
    font-size: 12px;
    color: #D0D0D0;
}

/* our valuse styling */
#our-values{
    background: #292930;
}
#our-values .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card{
    text-align: center;
}
.card-description{
    text-align: justify;
}
.card hr{
    width: 100px;
    border-top: 2px solid #D0D0D0;
    margin-inline: auto;
    margin-top: 24px;
}

/* our office section styling */
.our-office{
    background-image: url(../images/our-office-gb.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: auto;
}
.our-office .title-section{
    color: #292930;
}
.our-office .title-section span{
    color: #5956E8;
}
.location-cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 170px;
}
.location-cards > .card{
    background: white;
    border: none;
    box-shadow: 2px 2px 2px #D0D0D0;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
.location-cards>.card>img{
    width: 50px;
    height: 40px;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-content>.card-title{
    color: #292930;
    padding: 0;
    text-align: start;
}
.card-content>.card-description{
    padding: 0;
}
