@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin-inline: auto;
    width: 1100px;
    height: auto;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

h3 {
    font-weight: 600;
    font-size: 40px;
}

h4 {
    padding-block: 10px;
    padding-left: 20px;
}

h5 {
    font-weight: 500;
    font-size: 16px;
}

/* header styling */
.home-page-header {
    background-image: url(../images/home-bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    width: 150px;
}
.nav-items ul {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    gap: 60px;
    padding: 0;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #292930;

}

.nav-btns {
    display: flex;
    gap: 10px;

}

.btn-primary {
    background-color: #292930;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    border: none;
}

.btn-primary:hover {
    background-color: #FFDC60;
    color: #292930;
}

.btn-secondary {
    background-color: white;
    padding: 10px 20px;
    color: #292930;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #292930;
}

.btn-secondary:hover {
    background-color: #FFDC60;
    color: #292930;
    border: 2px solid #FFDC60;
}

/* banner-content styling */

.content {
    width: 50%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.content h5 {
    padding-bottom: 8px;
}

.content>h1,
p {
    padding-bottom: 34px;
}

h5 span {
    color: #FFDC60;
    letter-spacing: 0.25em;
}

.heading-purple {
    color: #5956E8;
}

/* services-section-styling */
#services {
    background: #292930;
}

.title-section {
    width: 50%;
    text-align: center;
    padding-top: 172px;
    margin: auto;
    color: white;
}

.title-section h5 {
    padding-top: 40px;
    padding-bottom: 16px;
}

.title-section h3 {
    padding-bottom: 90px;
}

/* card-styling */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-bottom: 172px;
}

.card {
    padding: 48px;
    border: 1px solid #424245;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #36363E, #292930);
}

.card>img {
    width: 100px;
    padding-bottom: 24px;
}

.card-title {
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 12px;
    padding-left: 0;
}

.card-description {
    color: #D0D0D0;
    padding-bottom: 24px;
}

.btn-tertiary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 14px 0px;
    border: 1px solid #535355;
    border-radius: 8px;
    background-color: #29293000;
    font-size: 16px;
    color: #535355;
}

.btn-tertiary:hover {
    background-color: #FFDC60;
    font-size: 16px;
    color: #292930;
}

/* about-section-styling */
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-block: 170px;
}

.col-left {
    width: 100%;
}

.col-left img {
    width: 100%;
}

.col-right>.title-section {
    width: 100%;
    padding-top: 0;
    margin: 0;
    text-align: start;
    color: #292930;
}
.title-section>img{
    width: 100px;
}
.col-right>.title-section>h3 {
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid #CFCFCF;
    width: 100%;
}

.description {
    color: #555555;
    padding-top: 10px;
    padding-bottom: 0;
}

.points {
    padding-block: 20px;
}

.point {
    display: flex;
    padding-block: 20px;
}

.point>img {
    width: 66px;
    height: 66px;
}

.point-descriptioin>h4{
    padding-top: 0;
}

.point-descriptioin>p {
    padding-left: 20px;
}


/* footer-styling */
footer {
    background-color: #292930;
    color: white;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding-block: 170px;
}

.sub-card {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #3C3C45;
    width: 250px;
}

.sub-card>img {
    width: 140px;
}

.footer-sub-content {
    padding-block: 10px;
    width: 100%;
}

.footer-sub-content>h4 {
    padding-left: 0;
}

.footer-sub-content>input {
    padding-block: 16px;
    padding-left: 24px;
    background: #5B5B61;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    width: 220px;
}

.footer-sub-content>.btn-tertiary {
    background-color: #FFDC60;
}

.footer-sub-content>.btn-tertiary:hover {
    background-color: #292930;
    color: white;
}

.footer-content,
.top-content,
.center-content {
    display: flex;
}

.footer-content {
    flex-direction: column;
}

.footer-content hr {
    border: 1px solid #727274;
}

.top-content {
    gap: 150px;
}

.get-in-touch,
.location {
    width: 50%;
}

.get-in-touch>h5 {
    padding-bottom: 10px;
}

.get-in-touch>p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.number {
    background: #3C3C45;
    padding: 12px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #FFDC60;
    text-align: center;
}

.location>h5 {
    padding-bottom: 10px;
}

.location>p {
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.center-content {
    gap: 100px;
}

.center-content ul li a {
    color: white;
}

.center-content ul {
    padding-block: 30px;
}

.center-content ul li {
    padding-bottom: 20px;
}

.pages,
.utility,
.follow {
    padding-top: 30px;
}


.bottom-content {
    text-align: center;
    padding-top: 30px;
}

.bottom-content p {
    padding-bottom: 0;
}


/*
    responsive css 
*/
@media screen and (max-width: 556px) {
    body {
      background-color: blue;

    }
    .home-page-header{
        width: 100%;
        height: auto;
    }
  }










