* {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.container {
    margin-inline: auto;
    width: 1200px;
    height: auto;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

h3 {
    font-weight: 600;
    font-size: 40px;
}

h5 {
    font-weight: 500;
    font-size: 16px;
}

/* header styling */
header {
    background-image: url(../images/home-bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1074px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items ul {
    display: flex;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    gap: 60px;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: #292930;

}

.nav-btns {
    display: flex;
    gap: 10px;

}

.btn-primary {
    background-color: #292930;
    padding: 18px 36px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    border: none;
}

.btn-secondary {
    background-color: white;
    padding: 18px 36px;
    color: #292930;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
    border: 2px solid #292930;
}

/* banner-content styling */
.content {
    width: 50%;
    padding-top: 200px;
}

.content h5 {
    padding-bottom: 8px;
}

.content h1,
p {
    padding-bottom: 34px;
}

h5 span {
    color: #FEC90C;
    letter-spacing: 0.25em;
}

.heading-purple {
    color: #5956E8;
}

/* services-section-styling */
main {
    background: #292930;
}

.title-section {
    width: 50%;
    text-align: center;
    padding-top: 172px;
    margin: auto;
    color: white;
}

.title-section h5 {
    padding-top: 40px;
    padding-bottom: 16px;
}

.title-section h3 {
    padding-bottom: 90px;
}

/* card-styling */
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
}
.card {
    padding: 40px;
    border: 1px solid #424245;
    border-radius: 30px;
    background-image: linear-gradient(to bottom, #36363E, #292930);
}

.card>img {
    width: 148px;
    padding-bottom: 24px;
}

.card-title {
    color: white;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 12px;
}

.card-description {
    color: #D0D0D0;
    padding-bottom: 24px;
}

.btn-tertiary {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 18px 60px;
    border: 1px solid #535355;
    border-radius: 8px;
    background-color: #29293000;
    font-size: 16px;
    color: #535355;
}
.btn-tertiary:hover {
    background-color: #FFDC60;
    font-size: 16px;
    color: #292930;
}